

//Variabler
// Light Mode: 
$lightmode-background: #e5ebe6;
$lightmode-text: #323932;
$lightmode-footer-bg: #323932;

// Dark mode:
$darkmode-background: #10141e;
$darkmode-text: #dcddde;
$darkmode-mid: #9da0a5;
$darkmode-footer-bg: #dcddde;

// Olika fonts för olika delar text 
$breadfont: Montserrat, Helvetica, sans-serif;
$accentfont: Inconsolata, Helvetica, sans-serif;
$headingfont: Montserrat, Helvetica, sans-serif;

