@import 'base';
@import 'layout';

// MOBIL-NAV 
//media query för att hantera visningen på små skärmar
 @media (max-width: 768px) {

    }
    .wrapper {
        min-height: 100vh;
        background-size: cover;
        background-position: center;
    }